In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [12]:
t_start = 0
t_end = 3600
x = np.linspace(t_start, t_end, t_end+1)

In [ ]:
wood = 175
food = 150
gold = 100
stone = 200
villagers = 3
villager_train_time = 25

wood_supply_min = 0
food_supply_min = 0
gold_supply_min = 0
stone_supply_min = 0

In [17]:
df = pd.DataFrame(x, columns=["t"])

In [18]:
df

           t
0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
...      ...
3596  3596.0
3597  3597.0
3598  3598.0
3599  3599.0
3600  3600.0

[3601 rows x 1 columns]

In [ ]:
from itertools import product

In [26]:
resource_types = ["wood", "food", "gold", "stone"]
list(product(resource_types, resource_types))

[('wood', 'wood'),
 ('wood', 'food'),
 ('wood', 'gold'),
 ('wood', 'stone'),
 ('food', 'wood'),
 ('food', 'food'),
 ('food', 'gold'),
 ('food', 'stone'),
 ('gold', 'wood'),
 ('gold', 'food'),
 ('gold', 'gold'),
 ('gold', 'stone'),
 ('stone', 'wood'),
 ('stone', 'food'),
 ('stone', 'gold'),
 ('stone', 'stone')]